# Nikola Vukotić

Preprocesiranje dataseta sa linka: https://archive.ics.uci.edu/ml/datasets/MAGIC+Gamma+Telescope

In [19]:
import os
import pandas as pd
import numpy as np
import joblib as joblib
from abc import ABC
from datetime import datetime
from typing import List, Dict, Any
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import KNeighborsClassifier
from sklearn import svm
from sklearn import metrics
from sklearn import preprocessing
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split

In [2]:
df = pd.read_csv("magic04.data",header=None)

In [3]:
df

,0,1,2,3,4,5,6,7,8,9,10
0,28.7967,16.0021,2.6449,0.3918,0.1982,27.7004,22.0110,-8.2027,40.0920,81.8828,g
1,31.6036,11.7235,2.5185,0.5303,0.3773,26.2722,23.8238,-9.9574,6.3609,205.2610,g
2,162.0520,136.0310,4.0612,0.0374,0.0187,116.7410,-64.8580,-45.2160,76.9600,256.7880,g
3,23.8172,9.5728,2.3385,0.6147,0.3922,27.2107,-6.4633,-7.1513,10.4490,116.7370,g
4,75.1362,30.9205,3.1611,0.3168,0.1832,-5.5277,28.5525,21.8393,4.6480,356.4620,g
...,...,...,...,...,...,...,...,...,...,...,...
19015,21.3846,10.9170,2.6161,0.5857,0.3934,15.2618,11.5245,2.8766,2.4229,106.8258,h
19016,28.9452,6.7020,2.2672,0.5351,0.2784,37.0816,13.1853,-2.9632,86.7975,247.4560,h
19017,75.4455,47.5305,3.4483,0.1417,0.0549,-9.3561,41.0562,-9.4662,30.2987,256.5166,h
19018,120.5135,76.9018,3.9939,0.0944,0.0683,5.8043,-93.5224,-63.8389,84.6874,408.3166,h
19019,187.1814,53.0014,3.2093,0.2876,0.1539,-167.3125,-168.4558,31.4755,52.7310,272.3174,h

In [4]:
df = df.dropna()

In [5]:
df

,0,1,2,3,4,5,6,7,8,9,10
0,28.7967,16.0021,2.6449,0.3918,0.1982,27.7004,22.0110,-8.2027,40.0920,81.8828,g
1,31.6036,11.7235,2.5185,0.5303,0.3773,26.2722,23.8238,-9.9574,6.3609,205.2610,g
2,162.0520,136.0310,4.0612,0.0374,0.0187,116.7410,-64.8580,-45.2160,76.9600,256.7880,g
3,23.8172,9.5728,2.3385,0.6147,0.3922,27.2107,-6.4633,-7.1513,10.4490,116.7370,g
4,75.1362,30.9205,3.1611,0.3168,0.1832,-5.5277,28.5525,21.8393,4.6480,356.4620,g
...,...,...,...,...,...,...,...,...,...,...,...
19015,21.3846,10.9170,2.6161,0.5857,0.3934,15.2618,11.5245,2.8766,2.4229,106.8258,h
19016,28.9452,6.7020,2.2672,0.5351,0.2784,37.0816,13.1853,-2.9632,86.7975,247.4560,h
19017,75.4455,47.5305,3.4483,0.1417,0.0549,-9.3561,41.0562,-9.4662,30.2987,256.5166,h
19018,120.5135,76.9018,3.9939,0.0944,0.0683,5.8043,-93.5224,-63.8389,84.6874,408.3166,h
19019,187.1814,53.0014,3.2093,0.2876,0.1539,-167.3125,-168.4558,31.4755,52.7310,272.3174,h

In [6]:
df[10].replace({'g': 1, 'h': -1}, inplace=True)

In [7]:
df

,0,1,2,3,4,5,6,7,8,9,10
0,28.7967,16.0021,2.6449,0.3918,0.1982,27.7004,22.0110,-8.2027,40.0920,81.8828,1
1,31.6036,11.7235,2.5185,0.5303,0.3773,26.2722,23.8238,-9.9574,6.3609,205.2610,1
2,162.0520,136.0310,4.0612,0.0374,0.0187,116.7410,-64.8580,-45.2160,76.9600,256.7880,1
3,23.8172,9.5728,2.3385,0.6147,0.3922,27.2107,-6.4633,-7.1513,10.4490,116.7370,1
4,75.1362,30.9205,3.1611,0.3168,0.1832,-5.5277,28.5525,21.8393,4.6480,356.4620,1
...,...,...,...,...,...,...,...,...,...,...,...
19015,21.3846,10.9170,2.6161,0.5857,0.3934,15.2618,11.5245,2.8766,2.4229,106.8258,-1
19016,28.9452,6.7020,2.2672,0.5351,0.2784,37.0816,13.1853,-2.9632,86.7975,247.4560,-1
19017,75.4455,47.5305,3.4483,0.1417,0.0549,-9.3561,41.0562,-9.4662,30.2987,256.5166,-1
19018,120.5135,76.9018,3.9939,0.0944,0.0683,5.8043,-93.5224,-63.8389,84.6874,408.3166,-1
19019,187.1814,53.0014,3.2093,0.2876,0.1539,-167.3125,-168.4558,31.4755,52.7310,272.3174,-1

In [8]:
df.describe()

,0,1,2,3,4,5,6,7,8,9,10
count,19020.000000,19020.000000,19020.000000,19020.000000,19020.000000,19020.000000,19020.000000,19020.000000,19020.000000,19020.000000,19020.000000
mean,53.250154,22.180966,2.825017,0.380327,0.214657,-4.331745,10.545545,0.249726,27.645707,193.818026,0.296740
std,42.364855,18.346056,0.472599,0.182813,0.110511,59.206062,51.000118,20.827439,26.103621,74.731787,0.954983
min,4.283500,0.000000,1.941300,0.013100,0.000300,-457.916100,-331.780000,-205.894700,0.000000,1.282600,-1.000000
25%,24.336000,11.863800,2.477100,0.235800,0.128475,-20.586550,-12.842775,-10.849375,5.547925,142.492250,-1.000000
50%,37.147700,17.139900,2.739600,0.354150,0.196500,4.013050,15.314100,0.666200,17.679500,191.851450,1.000000
75%,70.122175,24.739475,3.101600,0.503700,0.285225,24.063700,35.837800,10.946425,45.883550,240.563825,1.000000
max,334.177000,256.382000,5.323300,0.893000,0.675200,575.240700,238.321000,179.851000,90.000000,495.561000,1.000000

In [9]:
df = df.drop_duplicates()

In [10]:
df

,0,1,2,3,4,5,6,7,8,9,10
0,28.7967,16.0021,2.6449,0.3918,0.1982,27.7004,22.0110,-8.2027,40.0920,81.8828,1
1,31.6036,11.7235,2.5185,0.5303,0.3773,26.2722,23.8238,-9.9574,6.3609,205.2610,1
2,162.0520,136.0310,4.0612,0.0374,0.0187,116.7410,-64.8580,-45.2160,76.9600,256.7880,1
3,23.8172,9.5728,2.3385,0.6147,0.3922,27.2107,-6.4633,-7.1513,10.4490,116.7370,1
4,75.1362,30.9205,3.1611,0.3168,0.1832,-5.5277,28.5525,21.8393,4.6480,356.4620,1
...,...,...,...,...,...,...,...,...,...,...,...
19015,21.3846,10.9170,2.6161,0.5857,0.3934,15.2618,11.5245,2.8766,2.4229,106.8258,-1
19016,28.9452,6.7020,2.2672,0.5351,0.2784,37.0816,13.1853,-2.9632,86.7975,247.4560,-1
19017,75.4455,47.5305,3.4483,0.1417,0.0549,-9.3561,41.0562,-9.4662,30.2987,256.5166,-1
19018,120.5135,76.9018,3.9939,0.0944,0.0683,5.8043,-93.5224,-63.8389,84.6874,408.3166,-1
19019,187.1814,53.0014,3.2093,0.2876,0.1539,-167.3125,-168.4558,31.4755,52.7310,272.3174,-1

In [13]:
non_scaled_data_df = df.copy()
minmax_scaler = preprocessing.MinMaxScaler()
for column in list(df.columns):
    feature = df[column].to_numpy().reshape(-1, 1)
    scaled_feature = minmax_scaler.fit_transform(feature)
    df.loc[:, column] = scaled_feature

c:\users\nikol\appdata\local\programs\python\python38\lib\site-packages\pandas\core\indexing.py:1738: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value[:, i].tolist(), pi)
c:\users\nikol\appdata\local\programs\python\python38\lib\site-packages\pandas\core\indexing.py:1738: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value[:, i].tolist(), pi)
c:\users\nikol\appdata\local\programs\python\python38\lib\site-packages\pandas\core\indexing.py:1738: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value[:, i].tolist(), pi)
c:\users\nikol\appdata\local\programs\python\python38\lib\site-packages\pandas\core\indexing.py:1738: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value[:, i].tolist(), pi)
c:\users\nikol\appdata\local\programs\python\python38\lib\site-packages\pandas\core\indexing.py:1738: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value[:, i].tolist(), pi)
c:\users\nikol\appdata\local\programs\python\python38\lib\site-packages\pandas\core\indexing.py:1738: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value[:, i].tolist(), pi)
c:\users\nikol\appdata\local\programs\python\python38\lib\site-packages\pandas\core\indexing.py:1738: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value[:, i].tolist(), pi)
c:\users\nikol\appdata\local\programs\python\python38\lib\site-packages\pandas\core\indexing.py:1738: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value[:, i].tolist(), pi)
c:\users\nikol\appdata\local\programs\python\python38\lib\site-packages\pandas\core\indexing.py:1738: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value[:, i].tolist(), pi)
c:\users\nikol\appdata\local\programs\python\python38\lib\site-packages\pandas\core\indexing.py:1738: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value[:, i].tolist(), pi)
c:\users\nikol\appdata\local\programs\python\python38\lib\site-packages\pandas\core\indexing.py:1738: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value[:, i].tolist(), pi)

In [14]:
df

,0,1,2,3,4,5,6,7,8,9,10
0,0.074306,0.062415,0.208043,0.430390,0.293229,0.470032,0.620576,0.512493,0.445467,0.163066,1.0
1,0.082815,0.045727,0.170668,0.587794,0.558601,0.468649,0.623756,0.507944,0.070677,0.412679,1.0
2,0.478241,0.530579,0.626818,0.027617,0.027263,0.556215,0.468201,0.416540,0.855111,0.516926,1.0
3,0.059212,0.037338,0.117445,0.683714,0.580679,0.469558,0.570630,0.515219,0.116100,0.233582,1.0
4,0.214774,0.120603,0.360674,0.345153,0.271003,0.437870,0.632050,0.590373,0.051644,0.718582,1.0
...,...,...,...,...,...,...,...,...,...,...,...
19015,0.051838,0.042581,0.199527,0.650756,0.582457,0.457992,0.602182,0.541215,0.026921,0.213530,0.0
19016,0.074757,0.026141,0.096363,0.593249,0.412061,0.479112,0.605095,0.526076,0.964417,0.498046,0.0
19017,0.215712,0.185389,0.445594,0.146153,0.080901,0.434164,0.653983,0.509218,0.336652,0.516377,0.0
19018,0.352326,0.299950,0.606919,0.092397,0.100756,0.448838,0.417922,0.368263,0.940971,0.823491,0.0
19019,0.554415,0.206728,0.374926,0.311967,0.227589,0.281277,0.286483,0.615354,0.585900,0.548344,0.0

In [15]:
df[10].replace({1.0: 1, 0.0: -1}, inplace=True)

c:\users\nikol\appdata\local\programs\python\python38\lib\site-packages\pandas\core\series.py:4479: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().replace(

In [16]:
df

,0,1,2,3,4,5,6,7,8,9,10
0,0.074306,0.062415,0.208043,0.430390,0.293229,0.470032,0.620576,0.512493,0.445467,0.163066,1.0
1,0.082815,0.045727,0.170668,0.587794,0.558601,0.468649,0.623756,0.507944,0.070677,0.412679,1.0
2,0.478241,0.530579,0.626818,0.027617,0.027263,0.556215,0.468201,0.416540,0.855111,0.516926,1.0
3,0.059212,0.037338,0.117445,0.683714,0.580679,0.469558,0.570630,0.515219,0.116100,0.233582,1.0
4,0.214774,0.120603,0.360674,0.345153,0.271003,0.437870,0.632050,0.590373,0.051644,0.718582,1.0
...,...,...,...,...,...,...,...,...,...,...,...
19015,0.051838,0.042581,0.199527,0.650756,0.582457,0.457992,0.602182,0.541215,0.026921,0.213530,-1.0
19016,0.074757,0.026141,0.096363,0.593249,0.412061,0.479112,0.605095,0.526076,0.964417,0.498046,-1.0
19017,0.215712,0.185389,0.445594,0.146153,0.080901,0.434164,0.653983,0.509218,0.336652,0.516377,-1.0
19018,0.352326,0.299950,0.606919,0.092397,0.100756,0.448838,0.417922,0.368263,0.940971,0.823491,-1.0
19019,0.554415,0.206728,0.374926,0.311967,0.227589,0.281277,0.286483,0.615354,0.585900,0.548344,-1.0

In [17]:
df[10]=df[10].astype(int)

C:\Users\nikol\AppData\Local\Temp/ipykernel_8100/1382808996.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[10]=df[10].astype(int)

In [18]:
df

,0,1,2,3,4,5,6,7,8,9,10
0,0.074306,0.062415,0.208043,0.430390,0.293229,0.470032,0.620576,0.512493,0.445467,0.163066,1
1,0.082815,0.045727,0.170668,0.587794,0.558601,0.468649,0.623756,0.507944,0.070677,0.412679,1
2,0.478241,0.530579,0.626818,0.027617,0.027263,0.556215,0.468201,0.416540,0.855111,0.516926,1
3,0.059212,0.037338,0.117445,0.683714,0.580679,0.469558,0.570630,0.515219,0.116100,0.233582,1
4,0.214774,0.120603,0.360674,0.345153,0.271003,0.437870,0.632050,0.590373,0.051644,0.718582,1
...,...,...,...,...,...,...,...,...,...,...,...
19015,0.051838,0.042581,0.199527,0.650756,0.582457,0.457992,0.602182,0.541215,0.026921,0.213530,-1
19016,0.074757,0.026141,0.096363,0.593249,0.412061,0.479112,0.605095,0.526076,0.964417,0.498046,-1
19017,0.215712,0.185389,0.445594,0.146153,0.080901,0.434164,0.653983,0.509218,0.336652,0.516377,-1
19018,0.352326,0.299950,0.606919,0.092397,0.100756,0.448838,0.417922,0.368263,0.940971,0.823491,-1
19019,0.554415,0.206728,0.374926,0.311967,0.227589,0.281277,0.286483,0.615354,0.585900,0.548344,-1

In [20]:
train_df, test_df = train_test_split(df, test_size=0.2)

In [21]:
train_df

,0,1,2,3,4,5,6,7,8,9,10
10775,0.076004,0.064265,0.247871,0.443914,0.340495,0.460066,0.618604,0.501179,0.088830,0.428745,1
4824,0.039126,0.061756,0.190479,0.667008,0.578752,0.454814,0.604835,0.513566,0.000844,0.203562,1
10352,0.047940,0.028321,0.055411,0.838504,0.577863,0.439991,0.600777,0.519950,0.388758,0.487501,1
8278,0.100617,0.096838,0.302484,0.312081,0.244925,0.491923,0.618034,0.567373,0.093789,0.362730,1
2828,0.084587,0.102867,0.340183,0.270258,0.212476,0.441976,0.630880,0.491987,0.150334,0.157414,1
...,...,...,...,...,...,...,...,...,...,...,...
6340,0.218133,0.087992,0.386280,0.199682,0.145651,0.511884,0.707028,0.581107,0.056156,0.478790,1
1537,0.046699,0.000000,0.079716,0.880327,0.842940,0.443399,0.575568,0.533758,0.665821,0.240369,1
4067,0.059066,0.042238,0.130041,0.547449,0.403023,0.454894,0.615133,0.545175,0.144100,0.424877,1
3080,0.085072,0.086009,0.283737,0.287760,0.238702,0.451536,0.630886,0.524371,0.065011,0.377056,1
5984,0.261643,0.129688,0.415376,0.140811,0.120166,0.522433,0.725054,0.612830,0.099289,0.529047,1

In [22]:
test_df

,0,1,2,3,4,5,6,7,8,9,10
1776,0.113619,0.050812,0.215139,0.484487,0.372796,0.489024,0.641549,0.513452,0.092167,0.369758,1
15585,0.331226,0.093116,0.255115,0.363450,0.278856,0.556384,0.731311,0.590188,0.289343,0.501940,-1
542,0.046751,0.069866,0.123477,0.527219,0.372351,0.455113,0.614199,0.506776,0.330724,0.357216,1
7545,0.026373,0.043919,0.078918,0.836572,0.563787,0.428705,0.588116,0.503210,0.449589,0.447971,1
16826,0.045835,0.028785,0.046511,0.854415,0.643058,0.440406,0.598058,0.545173,0.620656,0.190322,-1
...,...,...,...,...,...,...,...,...,...,...,...
16090,0.065261,0.040764,0.199172,0.525742,0.422137,0.433771,0.561539,0.518721,0.753770,0.442800,-1
16821,0.125705,0.070158,0.239681,0.314581,0.215587,0.434712,0.567444,0.501885,0.012668,0.313829,-1
1384,0.083925,0.050304,0.232466,0.376747,0.272929,0.420384,0.617648,0.513896,0.493033,0.263083,1
1997,0.155781,0.086533,0.126257,0.569156,0.408801,0.399809,0.538160,0.559980,0.051740,0.681030,1
4735,0.253620,0.104890,0.398433,0.220025,0.166099,0.344881,0.655335,0.580773,0.028378,0.717544,1

In [23]:
train_df.to_csv('magictrain.csv', index=False)

In [24]:
test_df.to_csv('magictest.csv', index=False)